[submodule "tricore-gcc"]
	path = tricore-gcc
	url = git@github.com:EEESlab/tricore-gcc.git
[submodule "tricore-gcc-toolchain-9.4.0"]
	path = tricore-gcc-toolchain-9.4.0
	url = https://github.com/EEESlab/tricore-gcc-toolchain-9.4.0
[submodule "tricore-binutils-gdb"]
	path = tricore-binutils-gdb
	url = ./tricore-binutils-gdb
[submodule "tricore-newlib-cygwin"]
	path = tricore-newlib-cygwin
	url = ./tricore-newlib-cygwin/
